body{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 0;
}
.navbar{
    display: flex;
    justify-content:space-evenly;
    width:80%;
    height:5vh;
    align-items: center;
    background-color: rgba(102, 176, 241, 1);
    color: white;
    border-radius:45px;
}

#logo{
    width:40px;
    height:auto;
    filter: invert(30%) sepia(100%) saturate(500%) hue-rotate(200deg);
}

.navbarbuttons{
    background-color:rgba(240, 255, 255, .3);
    border:none;
    width:100px;
    border-radius:45px;
    backdrop-filter: blur(5px);
    color:aliceblue;
}

.content,
.homecontent{
    display:block;
    align-items: center;
}

.contenttitle,.label,.btns,.splash{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(102, 176, 241); 

}

.splash{
    font-style: italic;
}

.label,.field,.btns{
    margin-top:10px;
}

.label {
    display: inline-block;
    width: 150px; 
    font-weight: bold;
}

.field {
    display: inline-block;
    width: 250px; 
    padding: 5px;
    box-sizing: border-box; 
}

.btns{
    width:182px;
    padding:3px;
}

#btncontainer{
    display:flex;
    gap:20px;
}

/* For the insertion success message */
#success-toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
}

.toast-hidden {
    display: none;
    opacity: 0;
}


  .logo{
    display:flex;
    flex-direction:column;
    align-items:center;
    cursor:pointer;
    margin-top:20px;
}

.circle-logo{
    position:relative;
    width:180px;
    height:180px;
    border:5px solid green;
    border-radius:50%;
}

/* Leaf Design */
.leaf{
    position:absolute;
    width:25px;
    height:90px;
    background:green;
    border-radius:50% 50% 0 0;
    clip-path:polygon(50% 0%, 100% 100%, 50% 85%, 0% 100%);
    bottom:40px;
    left:75px;
    transform-origin:bottom center;
}

.center{
    transform:rotate(0deg);
}

.left1{
    transform:rotate(-35deg);
}

.right1{
    transform:rotate(35deg);
}

.left2{
    width:20px;
    height:70px;
    transform:rotate(-65deg);
}

.right2{
    width:20px;
    height:70px;
    transform:rotate(65deg);
}

/* Stem */
.stem{
    position:absolute;
    width:5px;
    height:50px;
    background:green;
    bottom:15px;
    left:87px;
    border-radius:10px;
}

.logo p{
    font-size:28px;
    font-weight:bold;
    color:green;
    margin-top:10px;
}